<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Lumol molecular simulation engine</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="canonical" href="{{ CURRENT_PAGE.absolute_final_url }}" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="{% static '/static/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/static/css/main.css' %}">
    </head>

    <body>
    {% include "nav.html" %}

    <div id="wrap">
        <div id="main">
            {% block body %}
            {% endblock %}
        </div>
    </div>

    {% include "footer.html" %}

    <script src="{% static '/static/js/vendor/jquery-1.10.1.js' %}"></script>
    <script src="{% static '/static/js/vendor/bootstrap.js' %}"></script>
    <script src="{% static '/static/js/main.js' %}"></script>
  </body>

  {% block scripts %}
  {% endblock %}
</html>
