{% extends "base.html" %} {% block body %}
<div class="jumbotron"></div>
<div class="container">
  <h1>Contact us</h1>
  <p>
    You can contact the lumol's developer by email at
    <!-- Obfuscated email, using javascript -->
    <script>
      document.write(
        // prettier-ignore
        '<a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'&'+'#'+'1'+'0'+'5'+';'+
          'lt'+'&'+'#'+'1'+'1'+'1'+';'+'&'+'#'+'5'+'8'+';'+'c'+'&'+'#'+'1'+
          '11'+';'+'%'+'6'+'E'+'&'+'#'+'1'+'1'+'6'+';'+'%'+'&'+'#'+'5'+'4'+
          ';&'+'#'+'4'+'9'+';'+'%'+'6'+'3'+'t'+'%'+'4'+'&'+'#'+'4'+'8'+';'+
          '%6'+'C'+'u'+'&'+'#'+'1'+'0'+'9'+';'+'o'+'l'+'&'+'#'+'4'+'6'+';'+
          '&#'+'1'+'1'+'1'+';'+'&'+'#'+'1'+'1'+'4'+';'+'g'+"'"+'>'+'c'+'o'+
          '&#'+'1'+'1'+'0'+';'+'t'+'&'+'#'+'9'+'7'+';'+'c'+'t'+'&'+'#'+'6'+
          '4;'+'l'+'u'+'m'+'o'+'l'+'&'+'#'+'4'+'6'+';'+'o'+'&'+'#'+'1'+'1'+
          '4;'+'g'+'<'+'/'+'a'+'>'
      );
    </script>
    <noscript>[Turn on JavaScript to see the email address]</noscript>. You can
    also use the project
    <a href="https://gitter.im/lumol-org/lumol"> chat room</a> to ask any
    question.
  </p>
</div>
{% endblock %}
